:root {
  --back-color: #1C1C1C;
  --start-color: #F9EFE5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

footer p {
  margin-bottom: 0.15em;
  font-size: 0.8rem;
}

footer span {
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(var(--start-color), #F8F8F8), url('./assets/saga_white.png');
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto, 200px 200px;
  color: var(--back-color);
  min-height: 100vh;
  display: flex;

  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2em 1em;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

header>h1 {
  font-weight: 700;
  font-size: 1.5rem;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5em;
  background-color: #FFE0CF;
  padding: 1.2em;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  font-size: 1rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

select,
button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  color: var(--back-color);
  background-color: var(--start-color);
  border-radius: 5px;
  font-weight: 700;
  font-size: inherit;
}

button {
  padding: 0.5em 1em;
}

select {
  padding: 0.8em 1.2em;
}

.btn-submit {
  transition: 0.25s all;
}

.btn-submit:disabled {
  background-color: gray;
  color: white;
  cursor: not-allowed;
}

/* .btn-submit:hover,
.btn-submit:focus {
  transform: scale(1.25);
} */

.matrix-container {
  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  column-gap: 1em;
}

.tvl-info {
  grid-column: span 2;
  border-bottom: 1px solid #000;
  margin-bottom: 1em;
}

.tvl-matrix {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.token-pair {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-color: rgb(220, 220, 220);
  padding: 0.25em;
  border-radius: 5px;
}

span {
  font-weight: 700;
}

a {
  color: var(--back-color);
  text-decoration: none;
  transition: 250ms all;
}

a:hover,
a:focus {
  background-color: rgba(180, 180, 180, 0.5);
  transform: scale(1.1);
}

@media (min-width: 880px) {
  body {
    background-size: auto, 300px 300px;
  }

  main {
    width: 95vh;
  }

  .pool-results {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    column-gap: 2em;
  }
}